[Desktop Entry]
Name=neomutt
GenericName=Email Client
Exec=neomutt -- %u
Terminal=true
Icon=mail-unread
Type=Application
StartupNotify=false
MimeType=x-scheme-handler/mailto
